h1{
    text-align: center;
}
.container{
    width: 100%;
    height: auto;
    background: #f3f3f3;
}
/******项目详情顶部样式的实现********/
.project-top{
    width: 100%;
    height: 3.4rem;
    background: white;
}
.project-items{
    width: 100%;
    height: 2rem;
    display: inline-flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: .3rem;
}
.top-item{
    width: 30%;
    height: 100%;
}
.width-20{
    width: 20%;
}
.width-40{
    width: 40%;
}
.width-35{
    width: 35%;
    position: relative;
}
.width-35 .top{
    text-align: left;
    margin-left: .6rem;
}
.width-35 .bottom{
    text-align: left;
    margin-left: .5rem;
}
.top-item p{
    text-align: center;
}
.top-big{
    font-size: .7rem;
    color: #404040;
}
.top-small{
    font-size: .34rem;
    color: #404040;
}
.top-text{
    font-size: .33rem;
    color: #898989;
    font-weight: 200;
}
.tip-up{
    position: absolute;
    top: .12rem;
    right: -.47rem;
}
.color-orange{
    color: #fe7e00;
}
.project-time{
    font-size: .4rem;
    color: #fe7e00;
    text-align: center;
    font-weight: 200;
}
/*******项目详情基本信息*******/
.project-center{
    width: 100%;
    height: 3.3rem;
    background: white;
    margin-top: .3rem;
    padding-left: .5rem;
    padding-top: .2rem;
}
.project-center-item{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
}
.item-title{
    color: #404040;
    font-size: .39rem;
    display: inline-block;
    width: 2rem;
    font-weight: 300;
}
.item-content{
    color: #898989;
    font-size: .39rem;
    font-weight: 300;
}

/*********产品详情模块的实现********/
.project-detail{
    width: 100%;
    height: auto;
    background: white;
    margin-top: .3rem;
    padding-bottom: 1rem;
}
.vux-tab .vux-tab-item {
    font-size: .35rem !important;
}
.pro-detail-item{
    width: 94%;
    height: auto;
    min-height: 2rem;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}
.pro-detail-item>.item-title{
    font-size: .39rem;
    color: #404040;
    height: .5rem;
    line-height: .5rem;
    padding-left: .7rem;
    margin-top: .43rem;
    width: 100%;
}
.item-hzjg>.item-title{
    background: url("../../../../static/images/invest/hzjg.png") no-repeat;
    background-size:contain;
}
.item-dywxx>.item-title{
    background: url("../../../../static/images/invest/dywxx.png") no-repeat;
    background-size:contain;
}
.item-czlc>.item-title{
    background: url("../../../../static/images/invest/zzlc.png") no-repeat;
    background-size:contain;
}
.item-bxbz>.item-title{
    background: url("../../../../static/images/invest/bxbz.png") no-repeat;
    background-size:contain;
}
.item-fcdy>.item-title{
    background: url("../../../../static/images/invest/fcdy.png") no-repeat;
    background-size:contain;
}
.item-cldzy>.item-title{
    background: url("../../../../static/images/invest/cldzy.png") no-repeat;
    background-size:contain;
}
.pro-detail-item>.item-content>img{
    height: .5rem;
}
.pro-detail-item>.item-content{
    font-size: .39rem;
    color: #898989;
    margin-top: .43rem;
    margin-bottom: .33rem;
}
.item-table{
    width: 100%;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
}
.item-table>thead>tr{
    height: .8rem;
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
}
.item-table>thead>tr>th{
    border: 1px solid #e5e5e5;
}
table,tbody,thead,tr,th{
    padding: 0 ;
}
.item-thead,.item-tbody {
    font-size: .39rem;
    color: #898989;
}
.item-thead>tr>th,.item-tbody>tr>td{
    font-weight: 100 !important;
}
.last-no-line{
    border: none;
}
/*********立即投资按钮样式实现********/
.Invest-btn-area{
    width: 100%;
    height: 1.05rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ef7b1b;
    color: white;
    font-size: .5rem;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    padding-top: .2rem;
}
.Invest-btn-area img{
    height: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.vux-table {
    line-height: .99rem !important;
}
