.vux-tab {
height: 1.2rem !important;
    border-bottom: 1px solid #e6e6e6 !important;
}
.vux-tab .vux-tab-item {
    font-size: .4rem !important;
    text-align: center;
    line-height: 1.2rem !important;
    color: #404040;
}