
/*!
 * =====================================================
 * Loding
 * =====================================================
 */
/*== ball-beat ==*/

@-webkit-keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ball-beat {
  top: 50%;
  left: 50%;
  z-index: 11000;
  margin-top: -.55rem;
  margin-left: -1.5rem;
  position: absolute;
}
.ball-beat > div {
  background-color: rgb(216, 65, 65);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin: .1rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: ball-beat 0.7s 0s infinite linear;
  animation: ball-beat 0.7s 0s infinite linear;
}
.ball-beat > div:nth-child(2n-1) {
  -webkit-animation-delay: -0.35s !important;
  animation-delay: -0.35s !important;
}
